.first{
    color: red;
    /* background-color: white; */
}
.second{
    color: yellow;
    /* background-color: white; */
}
.third{
    color: green;
    /* background-color: white; */
}

/* button{
    width: 60px;
    height: 40px;
    border-radius: 10px;
    background-color: red;
    color: white;
}
.sort{
    width: 120px;
    height: 40px;
    border-radius: 10px;
    background-color: powderblue;
    color: purple;
} */